<footer class="j-flex">
  <div class="container">
    <div class="j-flex">
      <h3 class="logo">Blog</h3>
      <ul class="menu j-flex">
        <li><a href="{% url 'list' %}">List</a></li>
        <li><a href="{% url 'create' %}">Create</a></li>
        <li><a href="{% url 'list' %}">Update</a></li>
        <li><a href="{% url 'list' %}">Delete</a></li>
      </ul>
      <ul class="icon j-flex">
        <li>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-github"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
